<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>825090394717-an6r6s2gqsbaebo1um7vk4r0fjgf8sb5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCERzRigCu1Gr_c9DB3ycLAy0MnIDx1WxE</string>
	<key>GCM_SENDER_ID</key>
	<string>825090394717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bhanzu.flutterwebrtcpoc.flutterWebrtcPoc</string>
	<key>PROJECT_ID</key>
	<string>bhanzu-customer-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>bhanzu-customer-auth.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825090394717:ios:b563cc3593dc976781dbb4</string>
</dict>
</plist>